body {
  background: #F5F1FE;
}

.App-header {
  margin: 30px 0;
}

.App-logo{
  mix-blend-mode: multiply;
  transform: scaleX(-1);
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}